<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        .caja1 {
            background-color: red;
            width: 500px;
            padding: 20px;
            border: 2px solid black;
            /* 70px arriba, auto a los lados para centrar */
            margin: 70px auto;
        }
    </style>
</head>
<body style="background-color: #2c3e50; color: white; font-family: Arial;">

<h1 style="color:black; text-align:center">LOGIN</h1>

<div class="caja1">
    <form method="POST" action="/">
        {% csrf_token %}
        <p>
            USUARIO: <br>
            <input type="text" name="txtusuario" placeholder="Usuario" style="width: 95%"/>
        </p>
        <p>
            PASSWORD: <br>
            <input type="password" name="txtpassword" placeholder="Password" style="width: 95%"/>
        </p>
        <p style="text-align: center;">
            <input type="submit" value="Presiona"/>
        </p>
    </form>
    <div style="text-align: center;">
        <a href="/" style="color:white; text-decoration: none;">Cerrar Sesion</a>
    </div>
</div>

</body>
</html>